* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(/assets/video/videoneymar.mp4);
    background-repeat: no-repeat;
    background-size: contain;
    
}

.banner__image {
    display: inline-block;
    border-radius: 50%;
    padding: 5px;
    background: linear-gradient(135deg, #ffdf00, #009c3b);
}

.banner__photo {
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}