* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.banner *:not(.banner__video) {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.banner__image {
    border-radius: 50%;
    padding: 5px;
    background: linear-gradient(135deg, #ffdf00, #009c3b);
    margin: 80px 0 20px 0;
    animation: fadeDown 1s ease forwards;

}

.banner__photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.banner__video {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    object-fit: cover;
}

.banner__title {
    color: #fff;
    text-shadow: 2px 2px 5px #000000;
    margin-bottom: 30px;
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    animation: fadeDown 1s ease forwards;
}

.banner__title::after {
    content: "";
    width: 20px;
    height: 20px;
    background-image: url('../imagem/verificado.png');
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
    display: inline-block;
}

.banner__social-link {
    width: 768px;
}

.social-link__item {
    list-style: none;
    padding: 20px;
    text-align: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 20px 0;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.social-link__item:hover, .social-link__link:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.social-link__link {
    text-decoration: none;
    padding: 10px;
    font-family: 'Ysabeau Infant', sans-serif;
    color: #fff;
    font-size: 1.125rem;
    transition: all 0.3s ease;
}

.social-link__link:hover {
    color: #000000;
    background-color: transparent;
}

.social-link__link::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 8px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.social-link__link--youtube::before {
    background-image: url("../imagem/youtube.png");
    position: absolute;
    right: 420px;
}

.social-link__link--instagram::before {
    background-image: url("../imagem/instagram.png");
    position: absolute;
    right: 400px;
}

.social-link__link--twitter::before {
    background-image: url("../imagem/twitter.png");
    position: absolute;
    right: 390px;
}

.social-link__link--facebook::before {
    background-image: url("../imagem/facebook.png");
    position: absolute;
    right: 400px;
}

.social-link__link--tiktok::before {
    background-image: url("../imagem/tiktok.png");
    position: absolute;
    right: 375px;
}

.social-link__link--twitch::before {
    background-image: url("../imagem/twitch.png");
    position: absolute;
    right: 393px;
}

.statistics {
    background-image: url("../imagem/imagem-de-fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.statistics__table {
    text-align: center;
    border-spacing: 1;
    font-family: 'Montserrat', sans-serif;
}

.statistics__header, .statistics__data {
    padding: 20px;
}

.statistics__tbody .statistics__row:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.8);
}

.statistics__tbody .statistics__row:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.statistics__thead .statistics__row {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
}

.statistics__data--icon {
    display: flex;
    align-items: center;
    gap: 5px;
}

.statistics__data--icon::before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.statistics__data--brasil::before {
    background-image: url("../imagem/cbf.png");
}

.statistics__data--santos::before {
    background-image: url("../imagem/santos.png");
}

.statistics__data--barcelona::before {
    background-image: url("../imagem/barcelona.png");
}

.statistics__data--psg::before {
    background-image: url("../imagem/psg.png");
}

.statistics__data--hilal::before {
    background-image: url("../imagem/alhilal.png");
}





