* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.banner *:not(.banner__video) {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

@keyframes fadeDown {
  0% {
    opacity: 0;
    transform: translateY(-1.25rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.banner__image {
    border-radius: 50%;
    padding: 0.3125rem;
    background: linear-gradient(135deg, #ffdf00, #009c3b);
    margin: 5rem 0 1.25rem 0;
    animation: fadeDown 1s ease forwards;

}

.banner__photo {
    width: 12.5rem;
    height: 12.5rem;
    border-radius: 50%;
    object-fit: cover;
}

.banner__video {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    object-fit: cover;
}

.banner__title {
    color: #fff;
    text-shadow: 0.1875rem 0.1875rem 0.3125rem #000000;
    margin-bottom: 1.875rem;
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: 600;
    font-size: 2.375rem;
    animation: fadeDown 1s ease forwards;
    position: relative;
    padding-bottom: 0.3125rem;
}

.banner__title::before {
    content: "";
    display: block;
    width: 2.8125rem;
    height: 0.3125rem;
    border-radius: 2.5rem;
    position: absolute;
    top: 2.8125rem;
    background: linear-gradient(135deg, #ffdf00, #009c3b);

}

.banner__title::after {
    content: "";
    width: 1.25rem;
    height: 1.25rem;
    background-image: url('../imagem/verificado.png');
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;
    display: inline-block;
}

.banner__social-link {
    max-width: 48rem;
    width: 95%;
}

.social-link__item {
    list-style: none;
    text-align: center;
    margin: 1.25rem 0;
    border-radius: 1.875rem;
    max-width: 48rem;
    width: 100%;
}

.social-link__item:hover .social-link__link {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
    font-weight: bold;
}

.social-link__link {
    text-decoration: none;
    padding: 1.25rem;
    font-family: 'Ysabeau Infant', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 1.125rem;
    width: 100%;
    display: block;
    border-radius: 1.875rem;
    position: relative;
    padding-left: 3.125rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.social-link__link::before {
    content: "";
    display: inline-block;
    width: 1.5625rem;
    height: 1.5625rem;
    background-size: cover;
    position: absolute;
    left: 0.9375rem;
    top: 50%;
    transform: translateY(-50%);
}

.social-link__link--youtube::before {
    background-image: url("../imagem/youtube.png");
}

.social-link__link--instagram::before {
    background-image: url("../imagem/instagram.png");
}

.social-link__link--twitter::before {
    background-image: url("../imagem/twitter.png");
}

.social-link__link--facebook::before {
    background-image: url("../imagem/facebook.png");
}

.social-link__link--tiktok::before {
    background-image: url("../imagem/tiktok.png");
}

.social-link__link--twitch::before {
    background-image: url("../imagem/twitch.png");
}

.statistics {
    background-image: url("../imagem/imagem-de-fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.statistics__title {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
    text-shadow: 0.125rem 0.125rem 0.3125rem #000000;
    letter-spacing: 0.125rem;
}

.statistics__table-wrapper {
    max-width: 48rem;
    width: 95%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 1rem;
    background: linear-gradient(to right, white 30%, rgba(255, 255, 255, 0)), linear-gradient(to left, white 30%, rgba(255, 255, 255, 0)) 100% 0;
    background-size: 3.125rem 100%, 3.125rem 100%;
    background-repeat: no-repeat;
    background-attachment: local, local;
}

.statistics__table {
    width: 100%;
    min-width: 37.5rem;
    border-collapse: collapse;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.statistics__header, .statistics__data {
    padding: 1.25rem;
}

.statistics__tbody .statistics__row:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.8);
}

.statistics__tbody .statistics__row:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
}

.statistics__thead .statistics__row {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
}

.statistics__data--icon {
    display: flex;
    align-items: center;
    gap: 0.3125rem;
}

.statistics__data--icon::before {
    content: "";
    width: 1.25rem;
    height: 1.25rem;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.statistics__data--brasil::before {
    background-image: url("../imagem/cbf.png");
}

.statistics__data--santos::before {
    background-image: url("../imagem/santos.png");
}

.statistics__data--barcelona::before {
    background-image: url("../imagem/barcelona.png");
}

.statistics__data--psg::before {
    background-image: url("../imagem/psg.png");
}

.statistics__data--hilal::before {
    background-image: url("../imagem/alhilal.png");
}

@media (max-width: 48rem) {
    .statistics__header, 
    .statistics__data {
        padding: 0.625rem;
        font-size: 0.9rem;
    }

    .statistics__title {
        font-size: 1.5rem;
        padding: 0 0.625rem;
    }
}





